<!DOCTYPE html>

<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <img src="img/me.jpg" style="margin-top: 16px;">
        </div>
        
        {{>footer}}

        <script src="js/app.js"></script>

    </body>
</html>