<!DOCTYPE html>

<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        {{>header}}
 
        <img src="img/me.jpg">
        
        {{>footer}}

        <script src="js/app.js"></script>

    </body>
</html>